@model Categories
@{
    ViewData["Title"] = "DeleteMiniTab";
}

<div class="container">
    <div class="row">
        <span id="DeleteMinitab">
            <p>Are you sure to delete this Category?</p>
            <a asp-controller="category" asp-action="delete" asp-route-id="@Model.Id">Yes</a>
            <a asp-controller="category" asp-action="Index">No</a>

        </span>
    </div>
</div>