@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="col-6">
        <div class="row p-1">
            <div class="col-1">User</div>
            <div class="col-5"><input type="text" id="userInput" /></div>
        </div>
        <div class="row p-1">
            <div class="col-1">Message</div>
            <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
        </div>
        <div class="row p-1">
            <div class="col-6 text-end">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-6">
                <hr />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>

    </div>
    <div class="col-6">
        <ul>
            @foreach (var item in ViewBag.Users)
            {
                <li class="list-group-item">
                    <span id="@item.Id" style="display:inline-block;width:20px;height:20px;border-radius:50%;"></span><span> @item.FullName</span>
                    <a asp-controller="chat" asp-action="SendToClient" asp-route-userId="@item.Id">SendMessage</a>
                </li>
            }

        </ul>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.11/signalr.min.js" integrity="sha512-BmbgtaebZ4BB5jiHMIauI5fFKc7dXo0Hqm7nmkHnoq63qBaYQWg1bhcNoaIBkfpw5bymrPEM8ap2fCB6ObSK4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/AtillasWhatsupp").build();
    connection.start();

    document.getElementById("sendButton").disabled = false;

    connection.on("ReceiveMessage", function (user, message) {
        var li = document.createElement("li");
        document.getElementById("messagesList").appendChild(li);
        li.textContent = `${user} says ${message}`;
    });


    document.getElementById("sendButton").addEventListener("click", function (event) {
        var user = document.getElementById("userInput").value;
        var message = document.getElementById("messageInput").value;
        connection.invoke("SendMessage", user, message);
        event.preventDefault();
    });
    connection.on("OnConnect",function(userId){
        document.getElementById("userId").classList.add("bg-online");
        document.getElementById("userId").classList.remove("bg-offline");
    });
    connection.on("DisConnect", function (userId) {
        document.getElementById("userId").classList.add("bg-offline");
        document.getElementById("userId").classList.remove("bg-online");
    });
    connection.on("RecieveFromUser", function (userId) {
        alert("Salam")
    });
    
</script>